## Задание по программированию: Важность признаков

###  Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

In [1]:
import pandas as pd
data = pd.read_csv(r'/Users/u17491440/titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex). 

## Обратите внимание, что признак Sex имеет строковые значения.

In [6]:
data1 = data[['Pclass',  'Fare', 'Age', 'Sex', 'Survived']]
print(type(data1['Sex'].loc[1]))
data1.replace('male', 1, inplace=True)
data1.replace('female', 0, inplace=True)
data1.head()

<class 'str'>

/Users/u17491440/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

             Pclass     Fare   Age  Sex  Survived
PassengerId
1                 3   7.2500  22.0    1         0
2                 1  71.2833  38.0    0         1
3                 3   7.9250  26.0    0         1
4                 1  53.1000  35.0    0         1
5                 3   8.0500  35.0    1         0

## Выделите целевую переменную — она записана в столбце Survived.

## В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [10]:
data1.dropna(inplace=True)
data1.size

/Users/u17491440/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

3570

## Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).

In [29]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=241)
clf.fit(data1[['Pclass',  'Fare', 'Age', 'Sex']], data1['Survived'], X_idx_sorted=None)
importances = clf.feature_importances_
for a,b in zip(data1[['Pclass',  'Fare', 'Age', 'Sex']].columns, clf.feature_importances_):
    print (a,b)
print(importances)
print(clf.tree_)

Pclass 0.1400052185312419
Fare 0.3034364695314525
Age 0.2560461009790662
Sex 0.30051221095823943
[0.14000522 0.30343647 0.2560461  0.30051221]
<sklearn.tree._tree.Tree object at 0x7fd682d5cac0>

In [ ]:
for a,b in zip(data1[['Fare',  'Sex','Age', 'Pclass']].columns, clf.feature_importances_):
    print (a,b)