In [27]:
import pandas as pd
from scipy.stats.stats import pearsonr

In [13]:
data = pd.read_csv(r'/Users/u17491440/titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [14]:
a = data['Sex'].value_counts()
print(a[0], a.keys()[0])
print(a[1], a.keys()[1])

print(a[0], a[1])

577 male
314 female
577 314

### 2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [23]:
a2 = data['Survived'].value_counts('0')
print('%.2d' % (a2[1]*100))

38

### 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [25]:
a3 = data['Pclass'].value_counts('1')
print(   int(100*a3[1])   )

24

### 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел

In [26]:
a4 = data['Age'].mean()
print(a4)
a4_1 = data['Age'].median()
print(a4_1)

29.69911764705882
28.0

### 5. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [29]:
a5 = pearsonr(data['SibSp'],data['Parch'])[0]
print(a5)

0.4148376986201561

### 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [30]:
names = pd.DataFrame({'Name':[]})
j = 0
for i in data['Name'][data['Sex'] == 'female']:
    N1 = i.find('.')
    N2 = i.find('(')
    if N2 > 0:
        beg = N2+1
        end = i.find(' ', beg)
        names.loc[j] = i[beg:end]
        j+=1
    elif ((N1>0) & (i.find(' ', N1 + 2) < 0)) :
        beg = N1+2
        names.loc[j] = i[beg::]
        j+=1
    elif ((N1>0) & (i.find(' ', N1 + 2) > 0)) :
        beg = N1+2
        end = i.find(' ', beg, len(i))
        names.loc[j] =i[beg:end]
        j+=1
vname = 0
sname = ''

for i in range (0, len(names), 1):
    if len(names[names['Name'] == names['Name'][i]])>vname: 
        vname = len(names[names['Name'] == names['Name'][i]])
        sname = names['Name'][i]
print(sname)
print(vname)

Anna
15